@charset "utf-8";

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "symbols-barbershop";
  src: url("../fonts/ptsansnarrow.woff") format("woff"),
       url("../fonts/ptsansnarrow.woff2") format("woff2");
}

html,
body {
  min-width: 960px;
  font-weight: 700px;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
  background: #000 url("../img/background-main.png") no-repeat center top;;
  color: #fff;
  font-family: "PT Sans Narrow", Arial, sans-serif;
}

a {
    text-decoration: none;
}

button {
  font-family: "PT Sans Narrow", Arial, sans-serif;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  background-color: #000;
    font-size: 0;
}

.main-navigation {
  float: left;
  width: 780px;
  min-height: 70px;
}

.main-navigation ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation li{
  display: inline-block;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding: 25px 20px;
  color: #fff;
    font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation a:hover {
    color: #fff;
    background: #242424;
    box-shadow: inset 0px -3px 0 0 #fff;
}

.user-block {
  float: right;
  max-width: 140px;
}

.login {
    position: relative;
    display: inline-block;
    padding: 25px 20px;
    padding-left: 50px;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    vertical-align: top;
    color: #fff;
    text-transform: uppercase;
}

.login:hover {
    background-color: #242424;
    box-shadow: inset 0px -3px 0 0 #fff;
}

.login::before {
    position: absolute;
    content: "";
    top: 28px;
    left: 20px;
    width: 18px;
    height: 18px;
    background: url("../img/icon-login-notactive.png") no-repeat;
    top: 30px;
}

.login:hover::before {
    background: url("../img/icon-login-active.png") no-repeat;
    top: 30px;
}

.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  margin-top: 60px;
}

.features {
  margin-bottom: 80px;
}

.features-name {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;
  font-size: 30px;
  line-height: 42px;
  font-size: 30px;
  text-transform: uppercase;
}

.features-name::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  display: block;
  margin-left: -10px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  transform: rotate(45deg);
}

.features-item:hover .features-name:after {
    box-shadow: 5px 5px 1px 1px;
    color: grey;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
  text-align: center;
  font-size: 14px;
}

.features-item:last-child {
  margin-right: 0;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
}

.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
  background: url("../img/Layer 17.png") center no-repeat, 
    #f8f5f2 url("../img/pattern-white.jpg");
  color: #000;
}

.index-content h2 {
  font-size: 30px;
}

.index-content p {
  font-size: 14px;
}

.index-content ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: -40px;
}

.news-preview time {
  display: block;
  font-size: 14px;
  text-transform: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.btn:hover,
.btn:active {
    background-color: #fff;
    transition: 
        background-position 0.3s,
        background-color 0.3s;
}

.btn.disabled,
.btn:disabled {
    cursor: default;
    opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
    background-color: #000;
}

.index-content .btn {
  display: inline-block;
  margin-top: 33px;
}

.news-preview p {
  margin-bottom: 0;
}

.index-content .btn {
  padding: 10px 34px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid black;
}

.index-content .btn:hover {
    color: #000;
}

.index-content h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.index-content p {
  font-size: 14px;
  text-transform: uppercase;
}

.index-content-title {
  font-size: 30px;
  line-height: 42px;
}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.btn {
  display: inline-block;
  margin-right: 16px;
  padding: 10px 33px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
  text-align: center;
  border: none;
  color: #fff;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
}

.gallery {
  position: relative;
  height: 260px;
}

.gallery-content {
  position: relative;
  margin: 0;
  border: 7px solid #fff;
  margin-left: 0;
  height: 164px;
  background-color: #ccc;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;
  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  width: 106px;
  padding: 7px 15px;
  font: inherit;
  color: inherit;
  text-transform: inherit;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  color: #000;
  text-transform: uppercase;
  background-color: #f9f6f3;
  border: 2px solid #000;
  outline: none;
}

.appointment-form input:focus {
    background-color: silver;
    transition: 
        background-position 0.5s,
        background-color 0.5s;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear:both;
  width: 100%;
  margin-top: 19px;
}

.main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
  color: #fff;
  background: #252525 url("img/Layer23.png");
}

.footer-contacts {
  float: left;
  width: 320px;
  margin-right: 60px;
  min-height: 90px;
  text-transform: uppercase;
}

.footer-contacts a {
  color: #fff;
}

.footer-contacts a:hover {
  text-decoration: none;
}

.footer-social {
  float: left;
  width: 180px;
  min-height: 90px;
  text-align: center;
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.social-btn {
    display: inline-block;
    width: 43px;
    height: 43px;
    margin: 0 2px;
    background: #000 url("") no-repeat center;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    transition: 
        background-position 0.5s,
        background-color 0.5s;
}

.social-btn-vk  {
    background: #000 url("../img/v.png") no-repeat center;
}

.social-btn-vk  {
    background: #000 url("../img/v.png") no-repeat center;
}

.social-btn-vk:hover  {
    background: #000 url("../img/v_copy.png") no-repeat center;
}

.social-btn-fb {
    background: #000 url("../img/f.png") no-repeat center;
}

.social-btn-fb:hover {
    background: #000 url("../img/f_copy.png") no-repeat center;
}

.social-btn-inst {
    background: #000 url("../img/inst.png") no-repeat center;
}

.social-btn-inst:hover {
    background: #000 url("../img/inst_copy.png") no-repeat center;
}

.social-btn:hover {
    background-color: #fff;
    
}

.footer-copyright {
  float: right;
  width: 180px;
  min-height: 90px;
  max-width: 180px;
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
}

.footer-copyright .btn {
  margin: 0 0 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-copyright .btn:hover {
    background-color: #fff;
    color: #000;
}

.footer-contacts a {
    text-decoration: underline;
}

/* СТИЛИ ДЛЯ КАТАЛОГА */

.main-navigation .active {
    background: #242424;
    box-shadow: inset 0px -3px 0 0 #fff;
}

.content {
    color: #000;
    background: #fff;
}

.content a {
    color: #000;
}

.content h1 {
    padding-top: 50px;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0;
}

.breadcrumbs {
    padding: 0;
}

.breadcrumbs li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 40px;
    font-family: ;
    font-size: 14px;
    line-height: ;
    font-weight: ;
    color: ;
    text-transform: uppercase;
}

.breadcrumbs li:last-child {
    color: #aba9a7;
}

.breadcrumbs li::after {
    position: absolute;
  bottom: 0;
  left: 50%;
  content: "";
  display: block;
  top: 9px;
  margin-left: 42px;
  width: 7px;
  height: 7px;
  background-color: #000;
  transform: rotate(45deg);
}

.breadcrumbs li:last-child::after {
    display: none;
}

.left-column h2 {
    text-transform: uppercase;
}

.left-column ul {
    list-style: none;
    padding: 0;
}

.left-column li {
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.left-column input {
    display: none;
}

input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

.brands-cb:checked + label:before {
    background-position: -4px -322px;
}

.brands-cb + label:before {
    content: "";
    display: block;
    position: absolute;
    background: #fff url(../img/spritesheet.png) no-repeat left;
    width: 25px;
    height: 25px;
    background-position: -4px -292px;
    left: 0;
    top: 1px;
}

.type-goods:checked + label:before {
    background-position: -4px -494px;
}

.type-goods + label:before {
    content: "";
    display: block;
    position: absolute;
    background: #fff url(../img/spritesheet.png) no-repeat left;
    width: 25px;
    height: 25px;
    background-position: -4px -464px;
    left: 0;
    top: 1px;
}